*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  transition: .3s all;
  border-radius: 3px;
}

.bg {
  float: left;
  max-width: 100%;
  position: relative;
  margin: .5%;
  img {
    width: 100%;
    margin-bottom: -4px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    opacity: 0;
    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-top: 50%;
      font-family: 'Droid Serif', serif;
    }
    p {
      font-family: 'Julius Sans One', sans-serif;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}
.textContainer{
    width: 95%;
    border-radius: 8px;
    background-color: #212529a6 !important;
    margin: auto auto;
}