<div class="container">
<div class="row">
@for (movie of movieList; track $index) {
  <div class="col-md-3">
    <div class="bg py-3">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path " [alt]="movie.title">
        <div class="overlay">
          <div class="textContainer bg-dark">
            <h2>{{movie.title}} {{movie.name}}</h2>
            <p>{{movie.overview.split(' ',10).join(' ')}}</p>
            <p>Rate : {{movie.vote_average}}</p>
          </div>
        </div>
      </div>
</div>
}
</div>
  </div>